* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1023;
}

#titulo {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    color: #fff;
    border: 2rem #fff;
    text-shadow: 0.1rem 0.1rem #000;
}

.flexinicio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.info {
    margin-top: 2rem;
    padding: 0.2rem;
    width: 25rem; ;
    border-style: ;
    border: #000 solid 0.2rem;
}